@model DemoMVC.Models.Entities.LoaiThietBi
@{ ViewData["Title"] = "Chi tiết Loại thiết bị"; }

<div class="container mt-4">
    <h2>Chi tiết Loại thiết bị</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tên Loại Thiết Bị</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TenLoai)</dd>
        
        <dt class="col-sm-3">Mô Tả</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>
    </dl>
    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Sửa</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Quay lại danh sách</a>
    </div>
</div>