<h1>Nguyễn Hà Vy - 2221050573! hi everyone</h1>

@{
    ViewData["Title"] = "Demo ViewBag";
}

<h2>Bài 1: Demo ViewBag</h2>

<p>Thông báo: @ViewBag.Message</p>
<p>Học viên: <strong>@ViewBag.HocVien</strong></p>

<hr/>
<a href="/Demo/GuiLoiChao">Chuyển sang bài nhập Form >></a>