@model DemoMVC.Models.Entities.Customer

@{
    ViewData["Title"] = "Chỉnh sửa khách hàng";
}

<h2>Chỉnh sửa thông tin khách hàng</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group mb-3">
                <label asp-for="FullName" class="control-label">Họ và Tên</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}